<header id="body-header">
    <nav>
      <ul class="horizontal-list text-center nav-menu">
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div id="name-social-container" class="text-center">
      <h1 id="my-name">SHIVAM BHARGAVA</h1>
      <p id="my-desb">Web Developer | Android Developer | FreeLancer</p>
    </div>
  </header>
  