<section id="about">
    <div id="my-image">
      <img src="assets/mypic2.jfif" alt="My Image">
    </div>
    <div id="about-para">
			<p>My name is Shivam Bhargava and I can help you in developing Web Pages with Angular, implementing the OPPS concept with SOLID principles, developing Android App with Kotlin and I also can help you get the logic for CP problems.</p>
			<p>As per my qualification and specializations go, I am very good at coding, Angular, Java, JavaScript, Android Development, C#, and C++, and speaking formally I am certified in Java, Android Development with Kotlin, Competitive Programming, and Data Structure and Algorithm.
			</p>
		</div>
  </section>
  