<section id="experience">
    <h1 class="section-heading text-center"><span>Experience</span></h1>
    <div class="timeline">
      <div class="timeline-box">
        <h3 class="experience-designation">Software Developer</h3>
        <h4 class="experience-company-name">XYZ Pvt Ltd</h4>
        <p class="experience-duration">2020 - Present</p>
        <p class="experience-description">
          Working on Angular, React, and backend technologies.
        </p>
      </div>
    </div>
  </section>
  